/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* { box-sizing: border-box; -moz-box-sizing: border-box;  }

/* ==========================================================================
   Font Faces
   ========================================================================== */

@font-face {
    font-family: 'A Gental Touch';
    src: url('../fonts/a_gentle_touch-webfont.eot');
    src: url('../fonts/a_gentle_touch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/a_gentle_touch-webfont.woff') format('woff'),
         url('../fonts/a_gentle_touch-webfont.ttf') format('truetype'),
         url('../fonts/a_gentle_touch-webfont.svg#a_gentle_touch') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/amaticsc-regular-webfont.eot');
    src: url('../fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
         url('../fonts/amaticsc-regular-webfont.ttf') format('truetype'),
         url('../fonts/amaticsc-regular-webfont.svg#amatic_sc') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Amatic SC';
    src: url('../fonts/amaticsc-bold-webfont.eot');
    src: url('../fonts/amaticsc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaticsc-bold-webfont.woff') format('woff'),
         url('../fonts/amaticsc-bold-webfont.ttf') format('truetype'),
         url('../fonts/amaticsc-bold-webfont.svg#amatic_sc') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.no-animation { transition: none !important; }


/* ==========================================================================
   Base
   ========================================================================== */

html, 
body, 
.feature,
.main,
.site__wrapper { width: 100%; height: 100%; }

body { border: 40px solid #fff; }

.site__wrapper { 
	position: relative; 
	overflow: auto; 
}


.feature section { 
	width: 100%; 
	height: 100%; 
	overflow: hidden;

	&.visible      { height: 100%; }
	&:nth-child(1) { z-index:10 }
	&:nth-child(2) { z-index:9; }
	&:nth-child(3) { z-index:8; }
	&:nth-child(4) { z-index:7; }
}

.status {
	position: absolute;
	top: 50%;
	right: 14px;
	margin-top: -23px;
	z-index: 20;

	span {
		background: #ccc;
		border: 2px solid #fff;
		border-radius: 12px;
		width: 8px;
		height: 8px;
		margin-left: 2px;
		margin-bottom: 8px;
		display: block;
		transition: all 300ms ease-in-out;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.visible {
		background: none;
		border-color: #aaa;
		width: 12px;
		height: 12px;
		margin-left: 0;
	}
}



.intro {
	background: #fff;
	width: 100%; 
	height: 100%; 
	overflow: hidden;

	&.visible      { height: 100%; }
	}

	.intro__copy {
		background: url(../img/intro-shape.png);
		color: #222;
		font-family: "Amatic SC", sans-serif;
		font-size: 4em;
		line-height: 1;
		text-align: center;
		position: absolute;
		top: 49.9%;
		left: 49.9%;
		width: 510px;
		height: 685px;
		margin-top: -(712/2)#{px};
		margin-left: -(505/2)#{px};
		padding-top: 220px;
		
		p { margin-bottom: 10px; }

		p:nth-child(odd) { 
			font-family: 'A Gental Touch', cursive, serif; 
			font-size: .5em;
			/*position: relative;
			top: -5px;*/
		}

		p:nth-child(3) {
			margin-top: 5px;
		}
	}

	.intro__image {
		background-size: cover;
		position: absolute;
		width: 49.9%;
		height: 49.9%;
	}

	.intro__image--one {
		background-image: url(../img/bg-intro.jpg);
		top: 0;
		left: 0;
	}

	.intro__image--two {
		background-image: url(../img/bg-intro-two.jpg);
		top: 0;
		right: 0;
	}

	.intro__image--three {
		background-image: url(../img/bg-intro-three.jpg);
		bottom: 0;
		left: 0;
	}

	.intro__image--four {
		background-image: url(../img/bg-intro-four.jpg);
		bottom: 0;
		right: 0;
	}
	

	.info-location {
		background: #E6F4EA;//lighten(#82b191, 20%);
		font-family: 'A Gental Touch';
		text-align: center;
		overflow: hidden;
		margin-top: 5px;
	 	
	 	p { font-size: 24px; line-height: 1.4; margin-bottom: 20px; }
	
		.left {
			float: left; 
			width: 35%;
			height: 100%;
			overflow: auto;
		}

		.right {
			float: right; 
			width: 65%;
			height: 100%;
			min-height: 982px;
			background: lighten(#82b191, 20%);//#83B192;
			border-left: 5px solid #fff;
		}
		
		.buttons { 
			height: 100px; 
			
			a {
				background:#E6F4EA;
				border-radius: 4px;
				height: 60px;
				width: 47%;
				display: inline-block;
				color: #444;
				font-size: 24px;
				text-decoration: none;
				line-height: 60px;
				
				&:first-child { margin: 20px 20px 0 0; }
				&:hover       { background: #fff; }
			}

		}
		
		.map {
			border-top: 5px solid #fff;
			width: 100%;
			height: calc(100% - 100px);
			min-height: 982px;
		}
	}
	
	.callout {
		border-bottom: 5px solid #fff;
		text-align: center;
		padding: 30px 30px 10px;
	}

	.callout {
		h1, h2 {
		font-family: "Amatic SC";
		font-size: 72px;
		}
		
		h2 { font-weight: bold; margin-bottom: 20px }
		p  { font-size: 24px; }
	}
	
	.dots  { margin: 10px 0 28px; }
	.about { padding: 30px; }
	
	.icon-bowtie,
	.icon-flowers,
	.icon-glass { margin-bottom: 10px; }





	.register {
		margin-top: 5px;
		background: #E6F4EA;
		padding-top: 75px;
		min-height: 100%;

		p {
			font-family: "A Gental Touch";
			font-size: 30px;
			line-height: 1.2;
			text-align: center;
		}

        a {
        	color: #83B192;
        	text-decoration: none;
        	transition: color 300ms ease-in-out;
        	&:hover { color: #506E5A; }
        }



	}
	
	.rsvp {
		margin-top: 75px;
		border-top: 5px solid #fff;

		h2 {
			font-family: "Amatic SC";
			font-size: 54px;
			text-align: center;
			margin-top: 100px;
		}

		form {
			max-width: 600px;
			padding: 40px;
			margin: 20px auto;
			background: #fff;
			box-shadow: 0 1px 0 rgba(0,0,0, .05);
		}

		.invited { max-width: 960px; }
	}
	
	.arrow-left,
	.arrow-right { vertical-align: middle; }
	.arrow-left  { margin-right: 10px; }
	.arrow-right { margin-left: 10px; }


	.last_name {
		display: block;
		width: 100%;
		height: 60px;
		margin-bottom: 20px;
		border: 2px dashed #aaa;
		border-radius: 4px;
		font-family: 'A Gental Touch';
		font-size: 24px;
		text-align: center;
		outline: none;
	}

	.last_name:focus {
		border-color: #2B332D;
	}

	.submit {
		color: #fff;
		font-family: 'Amatic SC';
		font-size: 30px;
		text-shadow: 0 1px 0 rgba(0,0,0, .25);
		width: 100%;
		height: 60px;
		-webkit-appearance: none;
		background: #83B192;
		border-radius: 4px;
		border:0;
		transition: background-color 300ms ease-in-out;
        
        &:hover { background: #506E5A; }
	}
	
	.guests {
		font-family: 'Open Sans Condensed', sans-serif;
		list-style: none;
		
		li     { display: block; margin-bottom: 5px; }
		& > li { width: 25%; float: left; margin-bottom: 20px; }
		& > li:nth-child(4n+1) { clear: left; }
	}


	.respond {
		color: #999;
		font-size: 14px;
		padding-right: 5px;
		margin-right: 8px;
		border-right: 1px solid #ddd;
		float: left;
		line-height: 1.3;

		input { width: 14px; margin-right: 4px; }
	}

	.name { display: block; padding-top: 8px; }

	p.rsvp-note { font-size: 21px; }

